@import './abstracts/variables';

@import './base/animations';
@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/header';
@import './layout/_grid';
@import './layout/footer';
@import './layout/_navigation';

@import './pages/home';

@import './base/utilities';

@import './components/composition';
@import './components/skill-box';
@import './components/card';
@import './components/testimonials';
@import './components/bg-video';
@import './components/form';
@import './components/popup';
