.composition{
    position: relative;
    &__photo{
        width: 50%;
        max-height: 20rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        &--p1{
            left: 0;
            top: -2rem;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.1);
            }
        }

        &--p2{
            right: 2rem;
            top: 2rem;
            @include respond(tab-port){
                top: -1rem;
                right: 0;
                transform: scale(1.2);
                z-index: 12;
            }
        }

        &--p3{
            left: 10%;
            top: 10rem;
            @include respond(tab-port){
                top: 0;
                left: 0;
                transform: scale(1.1);
            }
        }
        &:hover {
            outline: 1rem solid $color-primary;
            outline-offset: .5rem;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;      
        }
        &:hover &__photo:not(:hover){
            transform: scale(.9)
        }
        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
            margin-bottom: 3rem;
        }
    }

}
