.composition{
    position: relative;
    &__photo{
        width: 50%;
        max-height: 20rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 2rem;
            top: 2rem;
        }

        &--p3{
            left: 10%;
            top: 10rem;
        }
        &:hover {
            outline: 1rem solid $color-primary;
            outline-offset: .5rem;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;      
        }
        &:hover &__photo:not(:hover){
            transform: scale(.9)
        }
    }

}
