.form{
    &__group{
        margin-top: 1.5rem;
    }
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__group:last-child{
        margin-top: 5rem;
    }
    &__input{
        display: block;
        background-color: rgba($color-white, .5);
        width: 80%;
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        color: inherit;
        border: none;
        border-radius: .2rem;
        border-bottom: 3px solid transparent;
        @include respond(tab-port){
            width: 100%;
        }
        @include respond(phone){
            width: 100%;
        }
    }
    &__input:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        border-bottom: 3px solid $color-primary;
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
    }
    &__input::-webkit-input-placeholder{
        color: $color-grey;
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .45s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group{
        width: 45%;
        display: inline-block;
    }
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 10rem;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.6rem;
        &::after{
            content: "";
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .35s;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
    &__radio-input{
        display: none;
    }


}
