.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    &__left{
        width: 33.333333%;
        display: table-cell;
        vertical-align: middle;
        @include respond(tab-port){
            padding: 2rem;
        }
        @include respond(phone){
           display: none;
        }
    } 

    &__right{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__img{
        display: block;
        width: 100%;
        height: auto;
    }
    &__content{
        @include absCenter;
        width: 70%;
        background-color: $color-white;
        border-radius: 3rem;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s .2s;

    }
    &__text {
        font-size: 1.8rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        // column-rule: 1px solid $color-grey; dấu gạch giữa
        hyphens: auto;
    }
    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
        }
    }
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)!important;
    }
    &__close:hover{
       
        color: $color-primary;
    }
}
