body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        animation: moveInLeft 1s ease-out;
        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;

        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.8rem;
        animation: moveInRight 1s ease-out;
        @include respond(phone){
            letter-spacing: .5rem;
        }
    }
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    cursor: pointer;

    background-image: linear-gradient(to right,
    $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;

    transition: all .2s; 

    &:hover{
        transform: skewY(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2) 
    }

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    // white-space: nowrap;
}
.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
     }
}