.section-about{
    background-color: $color-grey-light-1;
    padding: 35rem 0 35rem;
    margin-top: -35rem;
    margin-bottom: -10rem;
}
.section-skills{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url("https://images.unsplash.com/photo-1627729115602-2b2a44cec5c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80");
    background-size: cover;
    position: relative;
    clip-path: ellipse(70% 50% at 50% 50%);
}
.section-courses{
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -20rem;
}

